* {
    font-size: sans-serif;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
/*-----------------------Nav----------------------*/
.main-nav p {
 
}
/*------------------------Tab---------------------*/

/*------------------------News---------------------*/
.news {
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 7px solid #444;
}
.nota, .agenda, .mas-informacion {
    border-bottom: 1px solid #D6D6D6;
}
.nota {
    padding: 15px 15px 15px 0;
}
.seccion {
    background-color: #929292;
    width: 160px;
    color: white;
    font-size: 16px;
    padding: 5px 0 5px 8px;
    margin-bottom: 10px;
}
.seccion p {
    margin: auto;
}
.tipo-contenido {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    font-weight: 700;
    padding-right: 10px;
    float: left;
}
.fecha-publicacion {
    padding-left: 10px;
    font-size: 11px;
    color: #929292;
}
.titular {
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.texto {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color: #929292;
    text-align: justify;
}
.ver-mas, .etiquetas {
    float: left;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: black;
    margin-bottom: 0;
}
.ver-mas {
    margin-right: 20%;
}
.ver-mas span {
    font-size: 16px;
    position: relative;
    top: 2px;
}
.tag-icon {
    position: relative;
    bottom: 2px;
}
.etiquetas a, .enlacesdeinteres {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color: #929292;
    font-weight: 700;
    text-decoration: underline;
}
.webzone {
    background-color: black;
    width: 100px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    text-align: center;
    padding: 2px 0;
    margin-bottom: 10px;
    margin-right: 20px;
    float: left;
}
.foto {
    background-color: #AAA;
    width: 100%;
    height: 190px;
    padding-top: 85px;
    text-align: center;
    margin-bottom: 10px;
}
.foto p {
    font-size: 18px;
    margin: auto;    
}
.border-none {
    border: none;
}
.nota-video {
    background-color: #D6D6D6;
    margin-top: 15px;
    padding: 0 5px 5px;
}
.nota-video video {
    width: 100%;
    height: 210px;
    background-color: white;
    border: 1px solid black;
}
.nota-video .ver-mas{
    margin-right: 3%;
}
.agenda, .mas-informacion, .magazine {
    margin-left: 10px;
    margin-left: 10px;
}
.agenda {
    padding: 12px 0 20px;
}
.agenda .row {
    margin: 10px 0;
}
.calendario {
    background-color: #AAA;
    width: 80px;
    height: 80px;
    color: black;
    font-size: 18px;
    margin-right: 15px;
    padding: 15px 5px 0;
    text-align: center;
    line-height: 150%;
    float: left;
}
.evento {
    padding: 5px 0;
}
.evento p {
    margin-bottom: 0;
    line-height: 1;
    text-align: left;
}
.evento p:last-child {
    line-height: 2;
}
.titulo-bold {
    font-size: 18px;
    font-weight: 700;
}
.mas-informacion {
    padding-top: 3px;
}
.mas-informacion div {
    margin: 15px 0;
}
.mas-informacion .titular, .mas-informacion .texto {
    margin-bottom: 0;
    
}
.mas-informacion p {
    text-align: left;
    line-height: 1;
}
.infoenlaces {
    margin-top: 15px;
    margin-left: 0;
    padding-left: 10px;
}
ul.sin-estilo {
    list-style-type: none;
    padding-left: 15px;
    margin-top: 10px;
}
ul.sin-estilo li {
    font-size: 15px;
    font-weight: 700;
    margin: 5px;
}
.enlaces, .enlaces:hover, .enlaces:focus{
    text-decoration: none;
    color: black;
}
.enlaces:hover, .enlaces:focus {
    color: gray;
}
.enlaces span {
    color: #232323;
}
.magazine {
    background-color: #EBEBEB;
    margin: 5px 0 15px;
    padding: 5px 15px 10px 10px;
}
.titulo-normal, .magazine .titulo-bold {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1;
}
.subtitulo {
    margin: 5px 0;
}
.magazine .texto {
    text-align: left;
    line-height: 1.5;
    margin-bottom: 0;
}
.frase {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    font-weight: 700;
    width: 70%;
    margin-bottom: 0;
}

/*----------------------Footer-----------------------*/
.columna-footer {
    width: 50%;
    float: left;
}
.columna-oculta {
    display: none;
}
footer .sin-estilo {
    padding-left: 0;
}
footer .sin-estilo li {
    margin-left: 0;
}
.listas-footer {
    height: 150px;
    margin: 15px 0;
}